.badpath{
    color: #FF6060;
    font-weight: 700;
    font-size: 288px;
    margin: auto;
}

.badpath--contener{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.badpath--text{
    color: #FF6060;
    font-weight: 500;
    font-size: 36px;
}

.badpath--link{
    color: #FF6060;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 50px;
}