.badpath{
    color: #FF6060;
    font-weight: 700;
    font-size: 288px;
    margin: auto;
}

.badpath--contener{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin: auto;
}
.badpath--text{
    color: #FF6060;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
}

.badpath--link{
    color: #FF6060;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 50px;
    text-align: center;
}

.badpath--link:hover{
    text-decoration: underline;
}

@media screen and (max-width: 620px) {
    .badpath{
        font-size: 188px;
    }
    .badpath--text{
        font-size: 26px;
    }
}

@media screen and (max-width: 420px) {
    .badpath{
        font-size: 100px;
    }
}