.dropdown{
    background-color: #FF6060;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    border-radius: 10px;
}

.little{
    width: 400px;
}

.large{
    width: 1000px
}

.dropdown--arrow{
    height: 30px;
    width: 25px;
    margin-right: 25px;
}

.dropdown--text{
    margin: 0 20px;
}

.dropdown--rectangle{
    background-color: #F7F7F7;
    border-radius: 10px;
    position: relative;
    bottom: 12px;
    z-index: -1;
}

.dropdown--infos{
    padding: 40px 12px 27px 20px;
}

.dropdown--infos>ul{
    margin: 0;
}