.dropdown{
    background-color: #FF6060;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    margin: 15px auto;
}

.little{
    width: 400px;
    border-radius: 10px;
}

.large{
    width: 90%;
    border-radius: 5px;
}

.dropdown--arrow{
    height: 30px;
    width: 25px;
    margin-right: 25px;
    transition: all .4s linear;
}

.dropdown--title{
    margin: 0 20px;
    font-weight: 500;
    font-size: 24px;
}

.dropdown--rectangle{
    background-color: #F7F7F7;
    border-radius: 10px;
    position: relative;
    bottom: 25px;
    z-index: -1;
    margin: auto;
    overflow: hidden;
    transition: max-height .5s ease-in-out 0s;
}

.dropdown--infos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    color: #FF6060;
    font-weight: 400;
    font-size: 24px;
}

.dropdown--infos>ul{
    margin: 0;
}
